<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/app.js"></script>
</head>
<body>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     At necessitatibus soluta officiis aliquam, voluptate, in
      iusto accusantium adipisci natus, distinctio doloribus.
       Unde excepturi tenetur officiis tempora, necessitatibus
        accusantium architecto cumque.
</body>
</html>